.cont-all {
  background: -webkit-gradient(linear, left top, left bottom, from(#30458b), to(#74cbf3));
  background: linear-gradient(180deg, #30458b 0%, #74cbf3 100%);
  height: 100vh;
  top: 0;
  width: 100%;
  position: relative;
}

.cont-bg-login {
  height: 100vh;
  top: 0;
  width: 50%;
  background: rgba(0, 0, 0, 0.13);
  right: 0;
  position: absolute;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg-gradient {
  height: 100vh;
  top: 0;
  width: 50%;
  left: 0;
  position: absolute;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.iso {
  width: 500px;
}

.cont-login {
  width: 30rem;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background: #fff;
  border-radius: 7px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.title-form {
  margin: 10px 0 20px 0;
  font-weight: bold;
  font-size: 36px;
}

.form {
  padding: 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form p {
  margin: 2px 0;
  color: rgba(0, 0, 0, 0.493);
  font-size: 15px;
}

.form .inputText {
  font-size: 22px;
  margin: 5px 0 17px 0;
  color: rgba(0, 0, 0, 0.733);
  height: 3.2rem;
  border-radius: 4px;
  padding: 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.274);
  outline: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form .inputText::-webkit-input-placeholder {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.253);
}

.form .inputText:-ms-input-placeholder {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.253);
}

.form .inputText::-ms-input-placeholder {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.253);
}

.form .inputText::placeholder {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.253);
}

.form .inputText:focus {
  -webkit-box-shadow: 0 0 0 1px #0142da, 0 0 0 5px rgba(29, 155, 209, 0.3);
          box-shadow: 0 0 0 1px #0142da, 0 0 0 5px rgba(29, 155, 209, 0.3);
  border-color: transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form button {
  font-weight: bold;
  cursor: pointer;
  margin: 20px 0 20px 0;
  color: white;
  border-radius: 4px;
  font-size: 18px;
  height: 3.2rem;
  background: #0142da;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: transparent;
}

.form button:hover {
  background: #0860e4;
}

.form .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0;
}

.form .check .checkbox {
  margin-right: 5px;
  width: 15px;
  border-radius: 2px;
}

.form .check .checkbox:checked {
  border: 1px solid blue;
}
/*# sourceMappingURL=Login.css.map */