@import "../var.scss";

.client-panel-bg {
  background: $color-gradient-bottom;
  position: relative;
  //top: 6em;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.cont-title-client {
  position: relative;
  margin-top: 9em;
  h1 {
    text-align: center;
    position: relative;
    font-size: 4rem;
    color: white;
  }
}

.push-items {
  position: relative;
  .noitem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20em;
    h3 {
      text-align: center;
      font-size: 2.5em;
      color: rgba(255, 255, 255, 0.3);
    }
  }
  ul {
    margin: auto 6em;
    margin-top: 1.5em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  li {
    cursor: pointer;
    list-style: none;
    position: relative;
    background: $bg-box;
    margin: 0.2em;
    height: 8rem;
    border-radius: 0.5em;

    img {
      width: 3.2rem;
      filter: url(#drop-shadow);
    }
  }
}
