@import "../var.scss";

.closeIconModal {
  position: absolute;
  margin: auto;
  top: 10rem;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.377);
  cursor: pointer;
  padding: 5px;
  width: 3.5rem;
  height: 3.5rem;
  transition: all 0.1s ease-in-out;
  &:hover {
    transition: all 0.1s ease-in-out;
    background: rgba(0, 0, 0, 0.603);
  }
}

.blur-modal-device {
  position: fixed;
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $opacity-blue;
  transition: all 0.1s ease-in-out;
  z-index: -1;
}

.devicebox {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.cont-boxdevice {
  width: 60vh;
  height: 50vh;
  background: white;
  border-radius: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}
