@import "../var.scss";

.cont-menu {
  display: flex;
  justify-content: space-between;
  padding: 15px 5rem;
  background: $color-gradient-right;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}

.cont-left {
  display: flex;
  align-items: center;
  .hambicon {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
  }
  .datcoicon {
    width: 7rem;
    margin-left: 10px;
  }
}

.cont-right {
  display: flex;
  align-items: center;
  width: 4rem;
  justify-content: space-between;

  .profileicon {
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    right: 82px;
  }
  .downicon {
    cursor: pointer;
    width: 1rem;
    height: 1rem;
  }
}

.toggleuser {
  position: absolute;
  top: 50px;
  right: 45px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: all 0.2 ease-in-out;
  a {
    text-decoration: none;
    color: black;
  }
  li {
    list-style: none;
    cursor: pointer;
    font-size: 18px;
    padding: 5px 7px;
    margin: 10px 0;
    border-radius: 5px;
    &:hover {
      background: $opacity-black;
    }
  }

  .logout {
    cursor: pointer;
    font-size: 18px;
    //padding: 5px 5px;
    border-radius: 5px;

    img {
      width: 20px;
      //padding: 2px 0 5px 0;
      margin-right: 5px;
    }
    p {
      padding: 2px 0 0 0;
    }
    &:hover {
      background: $opacity-black;
    }
  }
  hr {
    opacity: 0.3;
  }
  img {
    width: 24px;
    margin: auto;
    top: 3px;
    position: relative;
  }
  .box-user {
    padding: 15px;
    background: $color-semiwhite;
    width: 150px;

    border-radius: 5px;
  }
}
