$color-gradient: linear-gradient(89.59deg, #3474c4 -0.56%, #123e79 137.83%);
$color-white: #fff;
$color-semiwhite: #f7f7f7;
$bg-box-title: rgba(255, 255, 255, 0.068);
$opacity-black: rgba(0, 0, 0, 0.075);
$bg-box: rgba(255, 255, 255, 0.45);
$color-primary: #0d6efd;
$color-success: #0faa3e;
$color-danger: #dc3545;
$color-warning: #ffc107;
$color-dark: #212529;
